* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    height: 100vh;
    display: flow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 50px;
    background: #1e1e1e;
    justify-content: center;
    z-index: 999;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1500px;
}

.logo {
    font-size: 28px;
    color: deepskyblue;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: inherit;
    padding: 2px 30px;
}

.nav-bar {
    list-style: none;
    display: flex;
    gap: 10px;
    height: 50px;
    padding: 15px;
    width: 900px;
    box-shadow: 0 4px 8px deepskyblue,0 6px 20px 0 rgba(0,0,0,0.18);
}

.nav-bar li a {
    text-decoration: none;
    color: #00d9ff;
    font-weight: 400;
    font-size: 17px;
    padding: 6px 30px;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.nav-bar li a:hover {
    border: 2px solid deepskyblue;
    color: #ffffff;
    background: rgb(41, 67, 99);
}

.menu-icon {
    font-size: 30px;
    color: #00d9ff;
    cursor: pointer;
    display: none; /* Hide menu icon by default */

}

#menu-bar {
    display: none;
}

#menu-bar:checked ~ .nav-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    background: rgba(23, 41, 66, 0.9);
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 20px 0;
    transition: 0.4s ease-in-out;
}

@media (max-width: 768px) {
    .nav-bar {
        display:none;
    }
    .menu-icon {
        display: block; /* Show Hamburger */
    }
}
